.sideBar-Content {
    position: fixed;
    height: 100%;
    width: 240px;
    left: 0;
    padding: 0;
}

.sideBar{
    background-color: #4d148c;
    z-index: 1;
    top: 0;
    display: block;
}

.sidebarNav{
    padding: 40px 30px 30px 30px;
    width: 240px;
    outline: 0;
    box-shadow: none;
}

.navBar{
    display: none;
}


.sideBarHR{
    margin: 0px 30px;
    border: 0;
    border-top: 1px solid #eee;
    color: #fff;
    opacity: 255;
}


.mainBodyContainer{
    width: 100%;
}

.aPICatalogHeader{
    display: flex;
    padding: 10px; 
}

footer {
    background: #fafafa;
    padding: 15px 40px 0 50px;
    position: absolute;
    margin-left: 240px;
    z-index: auto !important;
    left: 0 !important;
}

.listStyleNoDot{
    list-style-type: none;
}

footer ul:last-child {
    margin-bottom: 20px;
}

footer ul {
    padding-left: 0;
}

footer ul li {
    display: inline-block;
    font-size: 12px;
}

footer .list-links {
    line-height: 2
}

footer .list-links ul li:after {
    content: "|";
    margin: 0 10px
}

footer ul li:last-child:after {
    content: "";
    margin: 0
}
footer .list-links ul li a,footer a {
    color: #333;
    font-size: 12px
}

footer .col-sm-6:last-child {
    padding-right: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

* {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body-content {
    margin-top: 58px;
    display: flex;
    min-height: 75vh;
    margin-bottom: 40px;
    margin-left: 255px;
}

.fxg-wrapper {
    max-width: 970px;
    margin: 0
}

.titleTextCenter{
    text-align: center;
}

.titleFont{
    clear: both;
    font-size: 45px;
    color: default;
    font-weight: 300;
}

.titleMargins{
    margin-bottom: 40px;
    margin-top: 0
}

.inputGroup {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 0px;
    padding-top: 40px;
}

.catalogue-Card-Content{
    width: 307px;
    min-height: 260px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 22px;
    margin-bottom: 20px;
}
.catalogue-Card-Content:hover{
    box-shadow: 4px 4px 0 0 lightgrey;
}

.titleToBodySeperator{
    height: 50px;
}

.apiCardImg{
    padding: 30px 20px 0 0;
    height: auto;
    min-height: 60px;
}

ul.cardOverviewDocsUL{
    padding-top: 0;
    padding-left: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

ul.cardOverviewDocsUL li{
    display: inline;
}

ul.cardOverviewDocsUL li:last-child{
    float: right;
    margin-left: 20px;
}

section{
    display: block;
}

.fxg-row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.cardOverviewDocsUL li a {
    font-size: 14px;
    color: #007ab7;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}

h1,h2,h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.sideBarContent a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: lighter;
    min-height: 25px;
    cursor: pointer;
}

.searchBar {
    width: 480px;
    height: 50px;
}

.inputGroup #search-input img{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 10;
    top: 57px;
    margin-left: 15px;
}

img{
    vertical-align: middle;
    border: 0;
}

#searchBox {
    padding-left: 45px !important;
    margin-bottom: 50px;
    margin-right: 40px;
}

.search-filters{
    display: inline-flex;
    font-size: 12px;
    list-style: none;
    margin: -10px 0;
    position: relative;
    top: -5px;
}

.search-filter-title {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.search-filters ul {
    display: inline-flex;
    font-size: 12px;
    list-style: none;
    position: relative;
    top: -5px;
    text-align: center;
    padding-left: 16px;
}

.search-filters ul li {
    height: 32px;
    background: #f2f2f2;
    padding: 7px 10px;
    border-radius: 16px;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-right: 10px;
    top: 10px;
    cursor: pointer;
    width: auto;
    min-width: 85px;
}

.overviewDocsBox{
    min-width:150px;
    margin-top: 20px;
}

.apiCardTextHolder{
    display: inline-block;
}

.apiCardTextHolder .MuiTypography-p{
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    min-height: 130px;
}

.MuiTypography-p{
    letter-spacing: normal;
    margin: 0 0 10px;
}

@media (max-width: 1200px){
    .body-content {
        margin-left: 0px;
    }

    .sideBar{
        display: none;
    }

    .navBar{
        display: block;
    }

    footer{
        margin-left: 0px;
    }
}