.sideBar-Content {
    position: fixed;
    height: 100%;
    width: 240px;
    left: 0;
    padding: 0;
}

.sideBar{
    background-color: #4d148c;
    z-index: 1;
    top: 0;
}

.sidebarNav{
    padding: 40px 30px 30px 30px;
    width: 240px;
    outline: 0;
    box-shadow: none;
}

.navBar{
    display: none;
}


.sideBarHR{
    margin: 0px 30px;
    border: 0;
    border-top: 1px solid #eee;
    color: #fff;
    opacity: 255;
}


.mainBodyContainer{
    width: 100%;
}

.aPICatalogHeader{
    display: flex;
    padding: 10px; 
}

footer {
    background: #fafafa;
    padding: 15px 40px 0px 50px;
    margin-left: 240px;
    position: absolute;
    width: 100%;
    z-index: auto !important;
    left: 0 !important;
}

.listStyleNoDot{
    list-style-type: none;
}

footer ul:last-child {
    margin-bottom: 20px;
}

footer ul {
    padding-left: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

* {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body-content {
    margin-top: 58px;
    display: flex;
    min-height: 75vh;
    margin-bottom: 40px;
    margin-left: 255px;
}

.fxg-wrapper {
    max-width: 970px;
}

.titleTextCenter{
    text-align: center;
}

.titleFont{
    clear: both;
    font-size: 45px;
    color: default;
    font-weight: 300;
}

.titleMargins{
    margin-bottom: 40px;
    margin-top: 0
}

.inputGroup {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 0px;
}

.catalogue-Card-Content{
    width: 307px;
    min-height: 260px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 22px;
    margin-bottom: 20px;
}
.catalogue-Card-Content:hover{
    box-shadow: 4px 4px 0 0 lightgrey;
}

.titleToBodySeperator{
    height: 50px;
}

.apiCardImg{
    padding: 30px 20px 0 0;
    height: auto;
    min-height: 60px;
}

ul.cardOverviewDocsUL{
    padding-left: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

ul.cardOverviewDocsUL li{
    display: inline;
}

ul.cardOverviewDocsUL li:last-child{
    float: right;
    margin-left: 20px;
}

section{
    display: block;
}

.fxg-row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.cardOverviewDocsUL li a {
    font-size: 14px;
    color: #007ab7;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}

h1,h2,h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.sideBarContent a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: lighter;
    min-height: 25px;
    cursor: pointer;
}
